
/* Styles for article.php - beginning*/
.front-img{

    background-image: url("../images/collection/paper-623167_1920.jpg");

    height:50%;
    width:100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}
.marker{
    height:100px;
}

.img-wrap {
    margin-left:10px;
    margin-right:10px;
    
}
.img-wrap img{
    width:100%;
    height:30%;
}
.text-wrap{
    margin-top:10px;
}

  
  h1 {
     margin-left:10px; 
    font-family: Georgia, serif;
    font-size: 28px;
    font-weight: bold;
    color:black;
    letter-spacing: 1.4px;
   
    text-transform: uppercase;
}
p {
    margin-left:10px;
    margin-right:10px;
    font-family: Verdana;
    font-size: 15px;
    color: #555555;
    line-height: 1.5;
    letter-spacing: .25px;
}
/* Styles for article.php - ending*/

/* Styles for login.php - beginning*/
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}

.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}


.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
/* Styles for login.php - beginning*/

/* Styles for create_article.php - beginning*/

input[type=file]{
    display: inline;
  }

#image_preview{
   
    padding: 10px;
  }
#image_preview img{
    width: 200px;
    padding: 5px;
  }

.val_error{
    color:red;
    font-size:14px;
    border-width:1px solid red;
}
.val_success{
    color:green;
    font-size:14px;
    border-color:1px solid green ;
}
.val_allowed{
    color:orange;
    font-size:14px;
    
} 
/* search form*/
.search_box{
        
        
    width:300px;
    position: relative;
    display:inline-block;
    font-size:14px;
}
.search_box input[type="text"]{
    height:32px;
    padding: 5px 10px;
    border:1px solid #CCCCCC;
    font-size:14px;
}
.result{
    position:absolute;
    z-index:999;
    top:100%;
    left:0;

}
.search_box input[type="text"], .result{
    width:100%;
    box-sizing:border-box;
}
.result p {
    margin:0;
    padding:7px 10px;
    border:1px solid #CCCCCC;
    border-top: none;
    border-radius: 5%;
    cursor: pointer;
    color: #555555;
    
    background-color: white;
}
.result p:hover{
    background: #f2f2f2;
}
